@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  outline: 0;
}
html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
svg,
video,
canvas {
  display: block;

  max-width: 100%;
}

input,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;

  border-spacing: 0;
}

.container {
  max-width: 1150px;
  margin: auto;
  padding: 0 10px;
}

@font-face {
  font-family: "Montserrat-Light";
  src: url("/Fonts/Montserrat/static/Montserrat-Light.ttf") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url("/Fonts/Montserrat/static/Montserrat-Medium.ttf") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("/public/Fonts/Gotham.otf") format("woff2");
  font-weight: 700;
}

.montserrat-l {
  font-family: "Montserrat-Light", sans-serif;
}

.montserrat-m {
  font-family: "Montserrat-Medium";
}

.montserrat-b {
  font-family: "Montserrat-Bold", sans-serif;
  font-weight: 700;
}
